@charset "UTF-8";

.main {
	margin : 8px;
}

/* userRegistration */
.font-18{
	font-size: 18px;
}

.font-20 {
	font-size: 20px;
}

.row {
	margin: 0;
}

.date-group input {
	width: 40%;
}

.date-group .date-to {
	margin-left: 20px;
	margin-right: 20px;
}

.hobby-group {
	margin-top: 10px;
	margin-bottom: 20px;
}

.hobby {
	width: 25%;
	display: inline-block;
}

.form-container {
	margin: 20px 0;
}

.form-container label {
	font-size: 1.5em;
}

.form-container button {
	display: block;
  margin: 0 0 0 auto;
}
